<footer class="tm-bg-dark-blue">
    <div class="container">
        <div class="row">
            <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
            Copyright &copy; <span class="tm-current-year">2018</span> Your Company

            - Design: Tooplate</p>
        </div>
    </div>
</footer>
<script>

</script>
