<div class="tm-top-bar-bg"></div>
<div class="tm-top-bar" id="tm-top-bar">
    <!-- Top Navbar -->
    <div class="container">
        <div class="row">

            <nav class="navbar navbar-expand-lg narbar-light">
                <a class="navbar-brand mr-auto" href="/">
                    <img src="/templates/img/logo.png" alt="Site logo">
                    Level
                </a>
                <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="/#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/#top">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#tm-section-4">Portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#tm-section-5">Blog Entries</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#tm-section-6">Contact Us</a>
                      </li>
                      <li class="nav-item">
                        @if token != 0
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/admin" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
                              <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                          </li>
                        @else
                          <a class="nav-link" href="/login">Login</a>
                        @end
                      </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
