<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administration</title>
    <!-- plugins:css -->
    @css '/templates/admin/vendors/ti-icons/css/themify-icons.css'
    @css '/templates/admin/vendors/base/vendor.bundle.base.css'
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    @css '/templates/admin/css/style.css'
    <!-- endinject -->
    <link rel="shortcut icon" href="/templates/admin/images/favicon.png"/>

<!--    {{block "css" . }}-->

<!--    {{end}}-->
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    @include 'header.html'
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                      <i class="ti-palette menu-icon"></i>
                      <span class="menu-title">Reservations</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/admin/reservations-new">New Reservations</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/admin/reservations-all">All Reservations</a></li>
                      </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reservations-calendar">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Reservation Calender</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="font-weight-bold mb-0">Reservation Calendar</h4>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
<!--                    {{block "content" .}}-->
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3>${this_month_name}</h3>
                        </div>

                        <div class="float-start">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="/admin/reservations-calendar?y=${last_month_year}&m=${last_month}">&lt;&lt;</a>
                        </div>

                        <div class="float-end">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="/admin/reservations-calendar?y=${next_month_year}&m=${next_month}">&gt;&gt;</a>
                        </div>

                        <div class="clearfix"></div>

                        <form method="post" action="/admin/reservations-calendar">
                            <input type="hidden" name="m" value="${this_month}">
                            <input type="hidden" name="y" value="${this_month_year}">

                            @for _, room in rooms
                            <h4 class="mt-4">${room.room_name}</h4>

                            <div class="table-responsive">
                                <table class="table table-bordered table-sm">
                                    <tr class="table_dark">
                                        @for days in 1..last_of_month.day+1
                                        <td class="text-center">
                                            ${days}
                                        </td>
                                        @end
                                    </tr>

                                    <tr>
                                        @for days in 1..last_of_month.day+1
                                        <td class="text-center">
                                            @if this_month < 10
                                                @if days < 10

                                                    @if res_map[room.id - 1]['$this_month_year-0$this_month-0$days 00:00'] > 0
                                                    <a href="/admin/reservations/cal/${res_map[room.id - 1]['$this_month_year-0$this_month-0$days 00:00']}?y=${now.year}&m=${now.month}">
                                                        <span class="text-danger">R</span>
                                                    </a>
                                                    @else

                                                        @if blk_map[room.id - 1]['$this_month_year-0$this_month-0$days 00:00'] > 0
                                                        <input
                                                            name="remove_block_${room.id}_${this_month_year}-0${this_month}-0${days}"
                                                            value="${blk_map[room.id - 1]['$this_month_year-0$this_month-0$days 00:00']}"
                                                            checked type="checkbox">
                                                        @else
                                                        <input
                                                            name="add_block_${room.id}_${this_month_year}-0${this_month}-0${days}"
                                                            value="1"
                                                            type="checkbox">
                                                        @end

                                                    @end

                                                @else

                                                    @if res_map[room.id - 1]['$this_month_year-0$this_month-$days 00:00'] > 0
                                                    <a href="/admin/reservations/cal/${res_map[room.id - 1]['$this_month_year-0$this_month-$days 00:00']}?y=${now.year}&m=${now.month}">
                                                        <span class="text-danger">R</span>
                                                    </a>
                                                    @else

                                                        @if blk_map[room.id - 1]['$this_month_year-0$this_month-$days 00:00'] > 0
                                                        <input
                                                            name="remove_block_${room.id}_${this_month_year}-0${this_month}-${days}"
                                                            value="${blk_map[room.id - 1]['$this_month_year-0$this_month-$days 00:00']}"
                                                            checked type="checkbox">
                                                        @else
                                                        <input
                                                            name="add_block_${room.id}_${this_month_year}-0${this_month}-${days}"
                                                            value="1"
                                                            type="checkbox">
                                                        @end

                                                    @end

                                                @end
                                            @else
                                                @if days < 10

                                                    @if res_map[room.id - 1]['$this_month_year-$this_month-0$days 00:00'] > 0
                                                    <a href="/admin/reservations/cal/${res_map[room.id - 1]['$this_month_year-$this_month-0$days 00:00']}?y=${now.year}&m=${now.month}">
                                                        <span class="text-danger">R</span>
                                                    </a>
                                                    @else

                                                        @if blk_map[room.id - 1]['$this_month_year-$this_month-0$days 00:00'] > 0
                                                        <input
                                                            name="remove_block_${room.id}_${this_month_year}-${this_month}-0${days}"
                                                            value="${blk_map[room.id - 1]['$this_month_year-$this_month-0$days 00:00']}"
                                                            checked type="checkbox">
                                                        @else
                                                        <input
                                                            name="add_block_${room.id}_${this_month_year}-${this_month}-0${days}"
                                                            value="1"
                                                            type="checkbox">
                                                        @end

                                                    @end

                                                @else

                                                    @if res_map[room.id - 1]['$this_month_year-$this_month-$days 00:00'] > 0
                                                    <a href="/admin/reservations/cal/${res_map[room.id - 1]['$this_month_year-$this_month-$days 00:00']}?y=${now.year}&m=${now.month}">
                                                        <span class="text-danger">R</span>
                                                    </a>
                                                    @else

                                                        @if blk_map[room.id - 1]['$this_month_year-$this_month-$days 00:00'] > 0
                                                        <input
                                                            name="remove_block_${room.id}_${this_month_year}-${this_month}-${days}"
                                                            value="${blk_map[room.id - 1]['$this_month_year-$this_month-$days 00:00']}"
                                                            checked type="checkbox">
                                                        @else
                                                        <input
                                                            name="add_block_${room.id}_${this_month_year}-${this_month}-${days}"
                                                            value="1"
                                                            type="checkbox">
                                                        @end

                                                    @end

                                                @end

                                            @end
                                        </td>
                                        @end
                                    </tr>
                                </table>
                            </div>
                            @end

                            <hr>

                            <input type="submit" class="btn btn-primary" value="Save Changes">

                        </form>
                    </div>
<!--                    {{end}}-->
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            @include 'footer.html'
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/templates/admin/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->

<!-- End plugin js for this page-->
<!-- inject:js -->
@js '/templates/admin/js/off-canvas.js'
@js '/templates/admin/js/hoverable-collapse.js'
@js '/templates/admin/js/template.js'
@js '/templates/admin/js/todolist.js'
<!-- endinject -->
<!-- Custom js for this page-->
<script src="https://unpkg.com/notie"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>-->
<!--<script src="/templates/js/app.js"></script>-->
@js '/templates/admin/js/dashboard.js'
<!-- End custom js for this page-->

<!--{{block "js" . }}-->

<!--{{end}}-->
</body>

</html>
