<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administration</title>
    <!-- plugins:css -->
    @css '/templates/admin/vendors/ti-icons/css/themify-icons.css'
    @css '/templates/admin/vendors/base/vendor.bundle.base.css'
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    @css '/templates/admin/css/style.css'
    <!-- endinject -->
    <link rel="shortcut icon" href="/templates/admin/images/favicon.png"/>

<!--    {{block "css" . }}-->

<!--    {{end}}-->
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    @include 'header.html'
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                      <i class="ti-palette menu-icon"></i>
                      <span class="menu-title">Reservations</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/admin/reservations-new">New Reservations</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/admin/reservations-all">All Reservations</a></li>
                      </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reservations-calendar">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Reservation Calendar</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="font-weight-bold mb-0">Dashboard</h4>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
<!--                    {{block "content" .}}-->
                    <div class="col-md-12">
                        Dashboard Content
                    </div>
<!--                    {{end}}-->
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            @include 'footer.html'
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/templates/admin/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->

<!-- End plugin js for this page-->
<!-- inject:js -->
@js '/templates/admin/js/off-canvas.js'
@js '/templates/admin/js/hoverable-collapse.js'
@js '/templates/admin/js/template.js'
@js '/templates/admin/js/todolist.js'
<!-- endinject -->
<!-- Custom js for this page-->
<script src="https://unpkg.com/notie"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>-->
<!--<script src="/templates/js/app.js"></script>-->
@js '/templates/admin/js/dashboard.js'
<!-- End custom js for this page-->

<!--{{block "js" . }}-->

<!--{{end}}-->
</body>

</html>
