<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administration</title>
    <!-- plugins:css -->
    @css '/templates/admin/vendors/ti-icons/css/themify-icons.css'
    @css '/templates/admin/vendors/base/vendor.bundle.base.css'
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    @css '/templates/admin/css/style.css'
    @css '/templates/css/notiflix.css'
    <!-- endinject -->
    <link rel="shortcut icon" href="/templates/admin/images/favicon.png"/>
    <style>
        .content-wrapper {
            background: white;
        }
        label {
            font-weight: bold;
        }
    </style>

<!--    {{block "css" . }}-->

<!--    {{end}}-->
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    @include 'header.html'
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                      <i class="ti-palette menu-icon"></i>
                      <span class="menu-title">Reservations</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/admin/reservations-new">New Reservations</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/admin/reservations-all">All Reservations</a></li>
                      </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reservations-calendar">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Reservation Calendar</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="font-weight-bold mb-0">Reservation</h4>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
<!--                    {{block "content" .}}-->
                    <div class="col-md-12">
                        <p>
                            <strong>Arrival:</strong> ${res.vals[5]}<br>
                            <strong>Departure:</strong> ${res.vals[6]}<br>
                            <strong>Room:</strong> ${res.vals[12]}<br>
                        </p>
                        <form action="/admin/reservations/${src}/${id}" id="input_form" method="post" class="" novalidate>

                            <input type="hidden" name="m" value="${month}">
                            <input type="hidden" name="y" value="${year}">

                            <div class="form-group mt-5">
                                <label for="first_name">First Name:</label>
                                <label class="text-danger"></label>

                                <input type="text" name="first_name" id="first_name" class="form-control" required autocomplete="off" value="${res.vals[1]}">
                            </div>

                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <label class="text-danger"></label>
                                <input type="text" name="last_name" id="last_name" class="form-control" required autocomplete="off" value="${res.vals[2]}">
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <label class="text-danger"></label>
                                <input type="email" name="email" id="email" class="form-control" required autocomplete="off" value="${res.vals[3]}">
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone Number:</label>
                                <label class="text-danger"></label>
                                <input type="email" name="phone" id="phone" class="form-control" required autocomplete="off" value="${res.vals[4]}">
                            </div>

                            <hr>

                                <button type="submit" id="b1" class="btn btn-primary">Save</button>
                                @if src == 'cal'
                                    <a href="#" onclick="window.history.go(-1)" class="btn btn-warning">Cancel</a>
                                @else
                                    <a href="/admin/reservations-${src}" class="btn btn-warning">Cancel</a>
                                @end
                                @if res.vals[10] == '0'
                                    <a href="#" class="btn btn-info" onclick="processRes(${id})">Mark as Processed</a>
                                @end

                                <a href="#" class="btn btn-danger float-end" onclick="deleteRes(${id})">Delete</a>

                            <div class="clearfix"></div>

                            <hr>
                        </form>
                    </div>
<!--                    {{end}}-->
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            @include 'footer.html'
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/templates/admin/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->

<!-- End plugin js for this page-->
<!-- inject:js -->
@js '/templates/admin/js/off-canvas.js'
@js '/templates/admin/js/hoverable-collapse.js'
@js '/templates/admin/js/template.js'
@js '/templates/admin/js/todolist.js'
<!-- endinject -->
<!-- Custom js for this page-->
<script src="https://unpkg.com/notie"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>-->
<!--<script src="/templates/js/app.js"></script>-->
@js '/templates/admin/js/dashboard.js'
<!-- End custom js for this page-->

<!--{{block "js" . }}-->
@js '/templates/js/notiflix.js'
<script>
    document.getElementById('b1').onclick = function(event) {
      const form = document.querySelector('#input_form');
      const formData = new FormData(form);
      for (const [key, value] of formData.entries()) {
        document.cookie = key + '=' + value + ';';
      }
    };

    function processRes(id) {
      Notiflix.Confirm.show(
        'Notiflix Confirm',
        'Are You Sure?',
        'Yes',
        'No',
        () => {
          window.location.href = '/admin/process-reservation/${src}/'
          +id
          +'?y=${year}&m=${month}';
        },
        () => {
        },
      );
    }

    function deleteRes(id) {
      Notiflix.Confirm.show(
        'Notiflix Confirm',
        'Are You Sure?',
        'Yes',
        'No',
        () => {
          window.location.href = '/admin/delete-reservation/${src}/'
          +id
          +'?y=${year}&m=${month}';
        },
        () => {
        },
      );
    }
</script>
<!--{{end}}-->
</body>

</html>
